.svg-container {
  display: inline-block;
  position: relative;
  /*width: 100%;*/
  /*padding-bottom: 100%;*/
  vertical-align: top;
  /*overflow: visible;*/
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

body {
     overflow: scroll;  /* Always show scrollbars, so that screen width does not change as we add content (messes with layout) */
   }